.container {
  overflow: auto;
  border: 1px solid #eaeaea;
  padding: 10px 15px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 20px 50px 0px;
  background: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(238, 238, 238);
  border-radius: 5px;
  min-height: calc(100% - 220px);
}